body {
font-family: "Helvetica", "Arial", sans-serif;
}

header, main {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.darkMode {
background: black;
color: white; /This is just white text/  
}
